.page-loader--inner {
	display: none;
}

.page-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #f3f3f3;
	z-index: 99999
	align-items: center;
	justify-content;
}