@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/roboto-regular-webfont.eot');
    src: url('/fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('/fonts/roboto/roboto-regular-webfont.ttf') format('truetype');
         // url('/fonts/roboto/roboto-regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/roboto-light-webfont.eot');
    src: url('/fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('/fonts/roboto/roboto-light-webfont.ttf') format('truetype');
         // url('/fonts/roboto/roboto-light-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/roboto-bold-webfont.eot');
    src: url('/fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('/fonts/roboto/roboto-bold-webfont.ttf') format('truetype');
         // url('/fonts/roboto/roboto-bold-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/roboto-thin-webfont.eot');
    src: url('/fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('/fonts/roboto/roboto-thin-webfont.ttf') format('truetype');
         // url('/fonts/roboto/roboto-thin-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}